[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pypi = "*"
passlib = "*"
jose = "*"
pydantic-settings = "*"
fastapi-limiter = "*"
fastapi-mail = "*"
sphinx = "*"
sqlalchemy = "*"
fastapi-users-db-sync-sqlalchemy = "*"
libgravatar = "*"
cloudinary = "*"
anyio = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"

[tool]
pytest = {ini_options = addopts = "--doctest-modules"
testpaths = [
    "tests",
]
pythonpath = '.'
filterwarnings = "ignore::DeprecationWarning"
}
